<a href="https://colab.research.google.com/github/siribafna/Myocardial-Infarction-Predictions/blob/main/moments_%2B_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
MI_data = pd.read_csv('https://raw.githubusercontent.com/siribafna/Myocardial-Infarction-Predictions/main/MI.txt')

In [ ]:
MI_data.describe()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,CHD,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
count,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,...,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000
mean,850.500000,61.856974,0.626471,0.554835,2.316186,1.205286,1.160703,0.375000,1.393258,0.033688,...,0.024706,0.041765,0.033529,0.093529,0.031765,0.044118,0.231765,0.093529,0.087059,0.477059
std,490.892045,11.233395,0.483883,0.835816,2.363227,1.018208,0.789280,0.099661,1.085916,0.180053,...,0.155273,0.200110,0.180067,0.291259,0.175425,0.205417,0.422084,0.291259,0.282004,1.381818
min,1.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,425.750000,54.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.375000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,850.500000,63.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.375000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1275.250000,70.000000,1.000000,1.000000,5.000000,2.000000,2.000000,0.375000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1700.000000,92.000000,1.000000,3.000000,6.000000,4.000000,2.000000,1.000000,3.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [ ]:
# count the number of missing values for each column
total_missing = MI_data.isnull().sum()
missing = total_missing > (len(MI_data)*.5)
missing = total_missing[missing]

# get variables with NaN values > 50% of MI_data
print(missing)
missing[1]
# report the results
total_missing.to_csv('out.csv', index=True)

In [ ]:
MI_data.drop(missing.index, axis=1)

In [ ]:
# fill missing values with mean column values
MI_data.fillna(MI_data.mean(), inplace=True)

In [ ]:
import numpy as np
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
import seaborn as sns
import io 

data1 = pd.read_csv('https://raw.githubusercontent.com/siribafna/Myocardial-Infarction-Predictions/main/MI-cleaned-TT.csv', sep = ',')

data1.head()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,CHD,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Heatmap

plt.figure(figsize = (100, 100))
cor = data1.corr()
sns.heatmap(cor, annot = True, cmap = plt.cm.Reds)
plt.show()

In [ ]:
# Correlation with output variable
cor_target = abs(cor["LET_IS"])

# Selecting highly correlated features
relevant_features = cor_target[cor_target > 0.5]
relevant_features

In [ ]:
# Original % for complications
data1.REC_IM.value_counts() / len(data1)

0    0.907825
1    0.092175
Name: REC_IM, dtype: float64

In [ ]:
# Create new dataframe for complications
newset = data1[['FIBR_PREDS', 'PREDS_TAH', 'JELUD_TAH', 'FIBR_JELUD', 'A_V_BLOK',
                'OTEK_LANC', 'RAZRIV', 'DRESSLER', 'ZSN', 'REC_IM', 'P_IM_STEN']].copy()
newset.index.name = 'count'
newset.rename(columns = {'PREDS_TAH':'complications'}, inplace = True)

# Add columns
newset.complications = newset.complications.astype(int) + newset.pop('FIBR_PREDS').astype(int) + newset.pop('OTEK_LANC').astype(int) 
+ newset.pop('P_IM_STEN').astype(int) + newset.pop('A_V_BLOK').astype(int) + newset.pop('JELUD_TAH').astype(int) + newset.pop('REC_IM').astype(int) 
+ newset.pop('ZSN').astype(int) + newset.pop('DRESSLER').astype(int) + newset.pop('FIBR_JELUD').astype(int) + newset.pop('RAZRIV').astype(int)

#newset["FIBR_PREDS"].where(~pd.isnull(newset["FIBR_PREDS"]), newset["PREDS_TAH"])
#newset[["FIBR_PREDS", "PREDS_TAH"]].max(axis=1)

# Convert binary (1/0) to yes/no
newset = newset.replace({1 : 'yes', 0 : 'no', 2 : 'yes', 3 : 'yes'})

newset1 = newset[['complications']].copy()
newset1

In [ ]:
# Check new complications %
newset1.complications.value_counts() / len(newset)

In [ ]:
# Add complications column
addcolumn = newset1['complications']
data1 = pd.concat([data1, addcolumn], axis = 1)

# Remove previous columns
dropped = data1.drop(columns = ['FIBR_PREDS', 'PREDS_TAH', 'JELUD_TAH', 'FIBR_JELUD', 'A_V_BLOK',
             'OTEK_LANC', 'RAZRIV', 'DRESSLER', 'ZSN', 'REC_IM', 'P_IM_STEN'])

dropped

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,CHD,GB,SIM_GIPERT,DLIT_AG,...,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,LET_IS,complications
0,1,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,no
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0,no
2,3,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,...,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0,no
3,4,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0,no
4,5,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,1692,62.0,1,0.0,0.0,0.0,0.0,0.0,1.0,7.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,3,no
1504,1693,71.0,0,0.0,6.0,2.0,2.0,2.0,0.0,7.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,3,yes
1505,1695,77.0,0,0.0,0.0,0.0,0.0,2.0,0.0,7.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3,no
1506,1696,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,no
1507,1699,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1,yes

In [ ]:
# Before combining
data1.LET_IS.value_counts() / len(data1)

0    0.861406
1    0.046419
3    0.032493
7    0.015915
4    0.013926
6    0.013263
2    0.009284
5    0.007294
Name: LET_IS, dtype: float64

In [ ]:
dropped = dropped.iloc[:, np.r_[2:107]]

dropped['LET_IS'].replace({ 0 : 'alive', 1 : 'death', 2 : 'death', 3 : 'death', 4 : 'death', 5 : 'death', 6 : 'death', 7 : 'death'}, inplace = True)
dropped

# % After combining
dropped.LET_IS.value_counts() / len(dropped)

dropped

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SEX,INF_ANAM,STENOK_AN,FK_STENOK,CHD,GB,SIM_GIPERT,DLIT_AG,ZSN_A,nr11,...,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,LET_IS,complications
0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,alive,no
1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,alive,no
2,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,0.0,...,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,alive,no
3,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,alive,no
4,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,alive,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,1,0.0,0.0,0.0,0.0,0.0,1.0,7.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,death,no
1504,0,0.0,6.0,2.0,2.0,2.0,0.0,7.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,death,yes
1505,0,0.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,death,no
1506,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,death,no
1507,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,death,yes

Moment Separation

There are four possible time moments for complication prediction: on base of the information known at
1. the time of admission to hospital: all input columns (2-112) except 93, 94, 95, 100, 101, 102, 103, 104, 105 can be used for prediction;
2. the end of the first day (24 hours after admission to the hospital): all input columns (2-112) except 94, 95, 101, 102, 104, 105 can be used for prediction;
3. the end of the second day (48 hours after admission to the hospital) all input columns (2-112) except 95, 102, 105 can be used for prediction;
4. the end of the third day (72 hours after admission to the hospital) all input columns (2-112) can be used for prediction.

In [ ]:
moment1 = dropped.iloc[:, np.r_[1:88, 91, 98:105]]

moment2 = dropped.iloc[:, np.r_[1:89, 91:92, 95, 98:105]]
#moment2

moment3 = dropped.iloc[:, np.r_[1:89, 91:97, 98:105]]
#moment3

moment4 = dropped.iloc[:, np.r_[1:105]]
#moment4

moment1

,INF_ANAM,STENOK_AN,FK_STENOK,CHD,GB,SIM_GIPERT,DLIT_AG,ZSN_A,nr11,nr01,...,R_AB_1_n,R_AB_2_n,NA_R_2_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,LET_IS,complications
0,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,alive,no
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,alive,no
2,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,alive,no
3,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,alive,no
4,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,alive,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,0.0,0.0,0.0,0.0,0.0,1.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,death,no
1504,0.0,6.0,2.0,2.0,2.0,0.0,7.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,death,yes
1505,0.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,death,no
1506,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,death,no
1507,2.0,2.0,2.0,1.0,2.0,0.0,7.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,death,yes